.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button1 {
   background-color:black;
   padding: 12px 28px;
   border:2px solid black;
   color: white;
}
.button1:hover {
    background-color:white;
    color: Black;
}

.button2 {
    background-color:black;
    padding: 4px 8px;
    border:2px solid black;
    color: white;
 }
 .button2:hover {
     background-color:white;
     color: Black;
 }

.box {
    margin: auto;
    width: 80%;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
}

.left {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.right {
    text-align: right;
}